A001_11051030_C001.braw
build/*
*.ppm
*.exr
test_output_L
test_output_R
claims/*

*.pyc

completed/*
workers/*
jobs/*
*.pyc
_Test_propjec/*


*.braw
A001_12031635_C012.braw
braw_batch_ui/build/*
braw_batch_ui/dist/*
STMAP/*

NDH6SA~M
NDH6SA~M
