A001_11051030_C001.braw
build/*
*.ppm
*.exr
test_output_L
test_output_R
claims/*

*.pyc

completed/*
workers/*
jobs/*
*.pyc
_Test_propjec/*


*.braw
A001_12031635_C012.braw
braw_batch_ui/build/*
braw_batch_ui/dist/*
STMAP/*

NDH6SA~M
NDH6SA~M
braw_batch_ui/braw_batch_ui/__pycache__/farm_core.cpython-312.pyc
braw_batch_ui/braw_batch_ui/__pycache__/farm_core.cpython-312.pyc
개발중 폴더_테스트용.txt
build2/*
settings.local.json
farm.db
farm.db-shm
farm.db-wal
braw_batch_ui/run_farm_v2.bat - 바로 가기.lnk
.claude/settings.local.json
BRAW_RenderFarm.bat - 바로 가기.lnk
